@media screen and (max-width: 768px) {

  #gnb {
    width: 100%;
    height: 80px;
    background: #fff;
  }

  #gnb ul li {
    margin-left: 20px;
    margin-right: 20px;
  }


#about {
  background: #fff2cc;
  width: 100%;
  height: 100%;
}

#about .photo > img{
  width: 90%;
}

#about .intro {
  /* outline: 1px solid red; */
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

#about .skill {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 100px;
}

#about .skill img {
  width: 100%;
}

#portfolio {
  width: 100%;
  height: 100%;
  background: #fff;
  padding-bottom: 80px;
}

#portfolio .container .list .col_4 {
  /* outline: 1px solid red; */
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 20px;  
}

#contact {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

#contact #contact-form {
  display: inline;
  text-align: center;
  outline: 1px solid red;
  padding-top: -50px;
}

#sub_contact .col_4 {
  width: 100%;
  height: 100%;
  background: #333;
  float: left;
}
#sub_contact .col_4:last-child {
  padding-bottom: 30px;
}

footer {
  width: 100%;
  height: 80px;
  background: #333;
  clear: both;
}

/* 포트폴리오 메인페이지 */
#portfolio_main #portfolio {
  width: 100%;
  height: 100%;
  background: #fff;
  padding-bottom: 80px;
}
#portfolio_main #sub_contact .col_4 {
  width: 100%;
  height: 100%;
  background: #333; 
}


#the_born #contents01 .container {
  width: 100%;
  background: #fff;
}




}