/* 사용자 CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 60px;
    padding-top: 218px;
}
h2 {
    font-size: 36px;
    font-weight: 400;
    padding-top: 100px;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 18px;
    
}

/* header */
#main_header{
    position: relative;
    max-width: 100%; 
    height: 650px;
    background: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}
#main_header  img {
    padding-top: 43.5px;
    /* outline: 1px solid red; */
}
#main_header p {
    font-size: 28px;
    font-weight: bold;
    padding-top: 43.5px;
}
.box {
    position: absolute;
    left: 50%; top: 175px;
    transform: translate(-50%);
    width: 620px;
    height: 300px;
    background: #fff;
    opacity: 50%;
    z-index: -1;
    border-radius: 40px;
    /* outline: 1px solid green;   */
}
#gnb {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid #eee;
    /* outline: 1px solid green; */
}
#gnb ul li{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
#gnb ul li a {
    line-height: 80px;
    /* outline: 1px solid green; */
}
#gnb ul li a:hover {
    /* font-weight: bold; */
    border-bottom: 4px solid #9FB6D4;
}

/* about */
#about {
    background: #fff2cc ;
    width: 100%;
    height: 827px;
}
.row {
    padding-top: 100px;
}
#about .photo > img {
    /* outline: 1px solid green; */
    width: 100%;
    margin-left: 20px;
    box-shadow: -20px -20px 0 #fff;
    border-radius: 20px;
}
#about .intro {
    /* outline: 1px solid green; */
    padding-left: 100px;
}
#about p {
    text-align: left;
    line-height: 1.8em;
}
#about p span {
    border-bottom: 8px solid #9fb6d4;
}

#about .skill {
    margin-top: 50px;
    padding-left: 100px;
}

/* portfolio */
#portfolio {
    width: 100%;
    height: 1055px;
    background: #fff;
}
#portfolio_gnb {
    margin-top: 50px;
}


#portfolio_gnb ul li {    
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

#portfolio_gnb ul li a:hover {
    border-bottom: 4px solid #9FB6D4;
}

#portfolio .list .col_4:nth-child(2n-1) {
    background: #fff2cc;
}

#portfolio .list .col_4 {
    position: relative;
    width: 380px;
    height: 300px;
    margin-bottom: 30px;
}

#portfolio li .caption {
    /* outline: 1px solid red; */
    position: absolute;
    width: 380px;
    height: 300px;
    background: rgba(58, 58, 58, 0.5);
    top: 0;
    color: #fff;    
    text-align: center;
    line-height: 300px;
    /* padding-top: 150px; */
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
#portfolio li:hover .caption {
    top: 0; 
    /* transform: translateY(-200px); */
    opacity: 1;
}

#contact {
    width: 100%;
    height: 600px;
    background: #fff2cc;
}
#contact .container {
    position: relative;
}

#contact form {
    padding-top: -50px;
    /* outline: 1px solid green; */
    text-align: right;
}

#contact .col_4 li input {
    width: 380px;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 0.5px solid #333;
}

#contact .col_4 li textarea {
    width: 380px;
    border-radius: 10px;
    margin-top: 5px;
    border: 0.5px solid #333;
}

#contact #submit {
    /* outline: 1px solid green; */
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background: #fff;
    border: 0.5px solid #333;
}

#contact .container > .row {
    padding-top: 50px;
}

#sub_contact {
    width: 100%;
    height: 140px;
    background: #333;
    font-size: 14px;
    font-weight: 400;
}

#sub_contact .col_4 p,
#sub_contact .col_4 p a{
    /* outline: 1px solid red;  */
    color: #fff;
    display: block;
}
#sub_contact .col_4 p {
    padding-top: 50px;
}
footer {
    width: 100%;
    height: 80px;    
    background: #333;
    border-top: 1px solid #707070; 
    font-size: 14px;
    font-weight: 400;
}

footer .container p{    
    color: #fff;
    line-height: 80px;
}